In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import seaborn as sns
%matplotlib inline
#plt.style.use('ggplot')
#plt.rcParams['figure.figsize'] = (12, 6)

# Set the global default size of matplotlib figures
plt.rc('figure', figsize=(10, 5))

In [2]:
import ujson
from pandas.io.json import json_normalize

filenames = pd.read_csv('API_Data/tempOut1', header=None) 
howManyFiles = filenames.shape[0]
filenames[:howManyFiles].head()

                        0
0  2016-01-13 10:19:38 AM
1  2016-01-13 10:20:42 AM
2  2016-01-13 10:21:36 AM
3  2016-01-13 10:22:40 AM
4  2016-01-13 10:23:44 AM

In [3]:
filenames

                          0
0    2016-01-13 10:19:38 AM
1    2016-01-13 10:20:42 AM
2    2016-01-13 10:21:36 AM
3    2016-01-13 10:22:40 AM
4    2016-01-13 10:23:44 AM
5    2016-01-13 10:24:37 AM
6    2016-01-13 10:25:41 AM
7    2016-01-13 10:26:46 AM
8    2016-01-13 10:27:39 AM
9    2016-01-13 10:28:43 AM
10   2016-01-13 10:29:37 AM
11   2016-01-13 10:30:41 AM
12   2016-01-13 10:31:45 AM
13   2016-01-13 10:32:38 AM
14   2016-01-13 10:33:42 AM
15   2016-01-13 10:34:36 AM
16   2016-01-13 10:35:40 AM
17   2016-01-13 10:36:44 AM
18   2016-01-13 10:37:37 AM
19   2016-01-13 10:38:41 AM
20   2016-01-13 10:39:46 AM
21   2016-01-13 10:40:39 AM
22   2016-01-13 10:41:43 AM
23   2016-01-13 10:42:37 AM
24   2016-01-13 10:43:41 AM
25   2016-01-13 10:44:45 AM
26   2016-01-13 10:45:39 AM
27   2016-01-13 10:46:42 AM
28   2016-01-13 10:47:36 AM
29   2016-01-13 10:48:40 AM
..                      ...
208  2016-01-13 01:48:30 PM
209  2016-01-13 01:49:23 PM
210  2016-01-13 01:50:27 PM
211  2016-01-13 01:51:21 PM
212  2016-01-13 01:52:25 PM
213  2016-01-13 01:53:29 PM
214  2016-01-13 01:54:23 PM
215  2016-01-13 01:55:27 PM
216  2016-01-13 01:56:31 PM
217  2016-01-13 01:57:24 PM
218  2016-01-13 01:58:28 PM
219  2016-01-13 01:59:21 PM
220  2016-01-13 02:00:25 PM
221  2016-01-13 02:01:29 PM
222  2016-01-13 02:02:22 PM
223  2016-01-13 02:03:27 PM
224  2016-01-13 02:04:20 PM
225  2016-01-13 02:05:24 PM
226  2016-01-13 02:06:28 PM
227  2016-01-13 02:07:43 PM
228  2016-01-13 02:08:26 PM
229  2016-01-13 02:09:41 PM
230  2016-01-13 02:10:45 PM
231  2016-01-13 02:11:38 PM
232  2016-01-13 02:12:42 PM
233  2016-01-13 02:13:46 PM
234  2016-01-13 02:14:40 PM
235  2016-01-13 02:15:44 PM
236  2016-01-13 02:16:37 PM
237  2016-01-13 02:17:42 PM

[238 rows x 1 columns]

In [4]:
howManyFiles

238

In [5]:
filenames[0][3]

'2016-01-13 10:22:40 AM'

In [6]:
i = 3
('API_Data/' +filenames[0][i]).strip()

'API_Data/2016-01-13 10:22:40 AM'

In [7]:
dataList = [[] for i in range(howManyFiles)]
dataList[0]

[]

In [8]:
import ujson
from pandas.io.json import json_normalize

for i in range(howManyFiles):
    fname = ('API_Data/' +filenames[0][i]).strip()
    with open(fname,'r') as f:
        dataList[i] = f.read()
        print i,

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237

In [9]:
filenames[0][1]

'2016-01-13 10:20:42 AM'

In [10]:
all_dfs = pd.DataFrame()
for i in range(howManyFiles):
    print i,
    r = ujson.loads(dataList[i])
    
    filenames = pd.read_csv('API_Data/tempOut1', header=None) 
    
    time = r['executionTime']
    data = r['stationBeanList']
    len(data) # 508 docks
    r['stationBeanList'][0] # First key/station

    df = json_normalize(r['stationBeanList']) # convert to DF
    
    # add time column
    df['time'] = filenames[0][i]
    all_dfs = all_dfs.append(df)

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237

In [11]:
all_dfs.shape

(120904, 19)

In [14]:
for i in range(all_dfs.shape[0]):
    if (i % 1000 == 0):
        print i/1000, 
    all_dfs['id'] = i

 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120

In [15]:
filename_out = 'to_CartoDB_dfs.csv'
all_dfs.to_csv(filename_out)

In [16]:
df.shape
df.columns
df.statusValue.unique()  # array([u'In Service', u'Not In Service'], dtype=object)
len(df[df.statusValue=='Not In Service']) / float(len(df[df.statusValue=='In Service']))

0.013972055888223553

In [17]:
print df.availableBikes.sum()
print df.availableDocks.sum()

6055
10185

In [18]:
all_dfs.shape[0]/508

238